#*.php text eol=lf
*.sh text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.sql text eol=lf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.swf binary
*.ico binary

*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary

*.exe binary

*.mp3 binary
*.ogg binary
*.mov binary
*.mp4 binary

*.zip binary
